<button
  class="hamburger md:hidden flex flex-col justify-around w-6 h-6 bg-transparent border-none cursor-pointer p-0"
>
  <span class="line block w-full h-0.5 bg-black mb-1"></span>
  <span class="line block w-full h-0.5 bg-black mb-1"></span>
  <span class="line block w-full h-0.5 bg-black"></span>
</button>
